html,
body {
    font-size: 10px;
}
body {
    height: 100vh;
    background-image: url(Pics/grey.jpg);
    background-size: cover;
}
.earth {
    width: 60rem;
    height: 60rem;
    align-self: center;
    transform: rotateY(360deg);
    animation-name: earth_loop;
    animation-duration: 15s;
    animation-iteration-count: infinite;


}
.moon {
    width: 20rem;
    height: 20rem;
    align-self: center;
    animation-name: moon_loop;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.animation {
    display: flex;
    margin-left: 250px;
}
@keyframes earth_loop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes moon_loop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
        transform: rotate3d(1,1,1,45deg);
}
    
