html,
body {
    font-size: 10px;
}
body {
    height: 100vh;
    background-image: url(Pics/grey.jpg);
    background-size: cover;
}
.earth {
    width: 60rem;
    height: 60rem;
    align-self: center;
}
.moon {
    width: 20rem;
    height: 20rem;
    align-self: center;
    border-radius: 50%; 
}
.animation {
    display: flex;
    margin-left: 300px;
}